@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Source+Sans+3:wght@300;400;500;600&display=swap");

:root {
    --white: #ffffff;
    --green: #27694d;
    --yellow: #daa520;
    --red: #ef4444;
    --brown: #383129;
    --black: #2a2622;

    --title: #2b2622;
    --text: #7c736a;
    --border: #e7e2da;

    --background: #f7f4ef;
    --card: #fcfaf7;
    --secondary: #eeebe4;
    --shadow: #c4b8a8;
    --favorite: #eaf0ed;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
}

body {
    background: var(--background);
    font-family: "Playfair";
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid var(--border);
    padding: 10px;
    margin-bottom: 25px;
}

.logo > img {
    background: var(--green);
    padding: 8px;
    border-radius: 12px;
}

.logo {
    display: flex;
    text-decoration: none;
}

.logo__inner-container {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

.logo__inner-container > img {
    background: var(--green);
    padding: 8px;
    border-radius: 12px;
}

.logo__title {
    font-size: 20px;
    font-weight: bold;
    color: var(--title);
}

.logo__subtitle {
    font-size: 14px;
    font-weight: normal;
    color: var(--text);
}

.search {
}
.title {
    font-size: 45px;
    font-weight: bold;
    color: var(--title);
    text-align: center;
    margin-bottom: 15px;
}

.subtitle {
    font-size: 20px;
    font-weight: bold;
    color: var(--text);
    font-family: "Source Sans 3";
    text-align: center;
    margin-bottom: 20px;
}

.search__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.search__input-container {
    max-width: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    background: var(--white);
    padding: 8px 15px;
    border-radius: 12px;
    border: 1px solid var(--border);
}

.search__input-container > input {
    border: none;
    outline: none;
    padding: 7px 15px;
    border-radius: 12px;
    margin-left: 10px;
    display: block;
}

.search__container > button {
    background: var(--green);
    color: var(--white);
    border: none;
    outline: none;
    padding: 15px 20px;
    border-radius: 12px;
    margin-left: 10px;
}

.books__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 15px;
}

.books__list-item {
    position: relative;
    background: var(--white);
    max-width: 200px;
    width: 100%;
    border-radius: 25px;
}

.books__list-item > img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.books__list-item-no-cover {
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    font-family: "Source Sans 3";
    color: var(--title);
}

.books__list-item-info {
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.books__list-item-title {
    font-size: 18px;
    font-weight: bold;
    font-family: "Source Sans 3";
    line-height: 1;
    color: var(--title);
    margin-bottom: 5px;
}

.books__list-item-authors {
    font-size: 14px;
    font-weight: normal;
    font-family: "Source Sans 3";
    color: var(--text);
    margin-bottom: 5px;
}

.books__list-item-year {
    font-size: 14px;
    font-weight: bold;
    font-family: "Source Sans 3";
    color: var(--text);
}
