@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Source+Sans+3:wght@300;400;500;600&display=swap");

:root {
    --white: #ffffff;
    --green: #27694d;
    --yellow: #daa520;
    --red: #ef4444;
    --brown: #383129;
    --black: #2a2622;

    --title: #2b2622;
    --text: #7c736a;
    --border: #e7e2da;

    --background: #f7f4ef;
    --card: #fcfaf7;
    --secondary: #eeebe4;
    --shadow: #c4b8a8;
    --favorite: #eaf0ed;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
}

body {
    background: var(--background);
    font-family: "Playfair";
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0px 15px;
}

.header {
    border-bottom: 1px solid var(--border);
    padding: 10px;
}

.logo > img {
    background: var(--green);
    padding: 8px;
    border-radius: 12px;
}

.logo {
    display: flex;
    text-decoration: none;
}

.logo__inner-container {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

.logo__inner-container > img {
    background: var(--green);
    padding: 8px;
    border-radius: 12px;
}

.logo__title {
    font-size: 20px;
    font-weight: bold;
    color: var(--title);
}

.logo__subtitle {
    font-size: 14px;
    font-weight: normal;
    color: var(--text);
}

.title {
    font-size: 45px;
    font-weight: bold;
    color: var(--title);
    text-align: center;
    margin-bottom: 15px;
}

.subtitle {
    font-size: 20px;
    font-weight: bold;
    color: var(--text);
    font-family: "Source Sans 3";
    text-align: center;
    margin-bottom: 20px;
    max-width: 550px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;

    /*margin: 0 auto;*/
}

.search {
    padding: 40px 0px;
}

.search__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.search__input-container {
    max-width: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    background: var(--white);
    padding: 8px 15px;
    border-radius: 12px;
    border: 1px solid var(--border);
}

.search__input-container > input {
    border: none;
    outline: none;
    padding: 7px 15px;
    border-radius: 12px;
    margin-left: 10px;
    display: block;
}

.search__container > button {
    background: var(--green);
    color: var(--white);
    border: none;
    outline: none;
    padding: 15px 20px;
    border-radius: 12px;
    margin-left: 10px;
}

.books__list {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    min-height: 100vh;
    gap: 10px 15px;
}

.books__list-item {
    position: relative;
    background: var(--white);
    max-width: 250px;
    width: 100%;
    border-radius: 25px;
}

.books__list-item > img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.books__list-item-no-cover {
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    font-family: "Source Sans 3";
    color: var(--title);
    background-color: gainsboro;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.books__list-item-info {
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.books__list-item-title {
    font-size: 18px;
    font-weight: bold;
    font-family: "Source Sans 3";
    line-height: 1;
    color: var(--title);
    margin-bottom: 5px;
}

.books__list-item-authors {
    font-size: 14px;
    font-weight: normal;
    font-family: "Source Sans 3";
    color: var(--text);
    margin-bottom: 5px;
}

.books__list-item-year {
    font-size: 14px;
    font-weight: bold;
    font-family: "Source Sans 3";
    color: var(--text);
}

.books__list-item-favorite {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    outline: none;
    border-radius: 100%;
    padding: 9px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    color: var(--title);
    cursor: pointer;
}

.books {
    display: flex;
    margin: 0 auto;
}

.books__favourites-header {
    display: flex;
    gap: 15px;
    padding: 20px 25px 15px 15px;
    border-bottom: 1px solid var(--border);
}

.books__favourites {
    background-color: var(--white);
    border-radius: 20px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 370px;
}

.books__favourites-list {
    padding: 15px;
    overflow-y: auto;
}

.books__favourites-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    width: 100%;
}

.books__favourites-list-item-inner {
    display: flex;
    align-items: center;
    gap: 10px;
}

.books__favourites-list-item-title {
    font-size: 14px;
}

.books__favourites-list-item-authors {
    display: block;
    font-size: 14px;
    font-weight: normal;
    font-family: "Source Sans 3";
    color: var(--text);
    margin-bottom: 5px;
}

.books__favourites-list-item-year {
    font-size: 14px;
    font-weight: bold;
    font-family: "Source Sans 3";
    color: var(--text);
}

.books__favourites-list-item-preview {
    width: 50px;
    height: 75px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}

.books__favorites-subtitle {
    font-size: 14px;
    font-weight: normal;
    font-family: "Source Sans 3";
    color: var(--text);
}

@media (min-width: 520px) {
    .books__list-item {
        max-width: 180px;
    }
}

@media (max-width: 820px) {
    .books {
        flex-wrap: wrap-reverse;
    }
}

@media (max-width: 830px) {
    .books__favourites {
        max-width: 100%;
    }
}

@media (max-width: 1200px) {
    .books__list {
        justify-content: center;
    }
}

.footer {
    padding: 25px 0;
    text-align: center;
    font-family: "Source Sans 3";
    border-top: 1px solid var(--border);
}

.footer a {
    color: cadetblue;
}
